@keyframes animate-gradient {
  to{
    background-position: 200%;
  }
}
@keyframes dish-call{
  to{
    transform: perspective(1200px) translateZ(100px);
  }
}
@keyframes slide-left{
  from{transform: translateX(200px);}
}
@keyframes slide-right{
  to{transform: translateX(250px);}
}
@keyframes appear {
  from{
    opacity: 0;
   /*  scale: 0.5; */
    transform: translateX(-100px);
  }
  to{
    opacity: 1;
    /* scale: 1; */
    transform: translateX(0px);
  }
}