@import url('https://fonts.googleapis.com/css2?family=Playwrite+NO:wght@100..400&display=swap');
:root{
/*  --BG-COLOR: #262626; */
/*  --BG-COLOR: #121a1d; */
 --BG-COLOR: #181818;
 --FONT-COLOR: #fff;
/*  --HIGHLIGHT-COLOR: #FF6B00; */
/*  --HIGHLIGHT-COLOR: #00e472; */
 --HIGHLIGHT-COLOR: #1bc849;
 --MENU-ITEM-SIZE: 12px;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{ 
  background-color: var(--BG-COLOR);
  color: var(--FONT-COLOR);
 /*  font-family: sans-serif; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* overflow: hidden; */
}
#logo {
  margin-right: auto;
}
.fork{
  color: #1bc849;
}
#first-letter{
  color: #1bc849;
  font-size: 16px;
  font-family: "Playwrite NO", cursive;
  font-optical-sizing: auto;
  font-weight: bold;
  /* font-weight: <weight>; */
  font-style: normal;
}
.menu-bar li:nth-child(2) a{
  color: var(--HIGHLIGHT-COLOR);
}
/* #logo a{
  color: var(--HIGHLIGHT-COLOR);
} */
 header{
  position: sticky;
  top: 0px;
  z-index: 1;
 }
.menu-bar{ 
  background-color:#181818;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;
/*   height: 50px; */
  height: 64px;
  width: 100%;
 /*  box-shadow:0px 0.5px 0.5px var(--HIGHLIGHT-COLOR) ; */
  box-shadow: 0 1px 2px #1bc849;
  font-size: var(--MENU-ITEM-SIZE);
  font-weight: 500;
  padding: 10px 24px;
}
ul.menu-bar{
  list-style: none;
}
.menu-bar a{
  text-decoration: none;
  color: var(--FONT-COLOR);
  position: relative;
}
.menu_link a::before{
  position: absolute;
  content: "";
  left: 0px;
  bottom: -6px;
  width: 0%;
  height: 3px;
 /*  background-color: #FF6B00; */
  background-color: var(--HIGHLIGHT-COLOR);
  border-radius: 16px;
  transition:  all 0.5s;
}
.menu_link a:hover::before{
  width: 100%;
}
/* .menu-bar i{
color: #D500F9;
  display: none;
} */
#open-menu{
  fill:white;
  border: 2px solid var(--HIGHLIGHT-COLOR);
  border-radius: 5px;
  padding: 1px;
  cursor: pointer;
  transition: all 0.5s ease-in-out ;
}
#open-menu:hover{
  fill:var(--HIGHLIGHT-COLOR);
  border: 2px solid white;
}
/* main{
 border: 2px solid green;
} */
.land-page{
  padding:24px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 24px;
  height: 200px;
}
.land-page::before{
  background-image: url(../images/bg-nomark.jpeg) ;
  background-size: cover;
  background-repeat:no-repeat ;
/*   background-attachment: scroll; */
  background-position:  bottom;
  position: absolute;
  content: "";
  inset: 0;
  background-color: var(--BG-COLOR);
  z-index: -1;
}
.title{
  display:flex;
 flex-direction: column;
 margin-top: 30px;
 justify-content: center;
 align-items: center;
/*  justify-content: center;
 align-items: center; */
  /*position: relative;  */
  
}
.land-page h1{
  font-size:28px;
  max-width: 250px;
 background: linear-gradient(90deg, #FFA726, #FF7043, #D500F9);
 background-size: 200%;
 background-clip: text;
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 animation: animate-gradient 10s ease-in-out infinite alternate ;
 position: relative;
 text-align: center;
}
/* .land-page h1::before{
position: absolute;
content: "";
background-color: rgba(0, 0, 0, 0.534);
inset: 0;
z-index: -1;
} */

.land-page h2{
  position: absolute;
  bottom: 24px;
  right: 24px;
  max-width: 150px;

  font-size:12px;
  font-weight: 200;
  color: #fff;
  text-align: justify;
}
.land-page button{
 /*  background: #1bc849; */
  background-color: #08e54a;
  font-weight: bold;
  font-size: 16px;
  outline: none;
  border: none;
  margin: 24px;
  border-radius: 6px;
  transition: all 0.5s linear;
}
.land-page button:hover{
  background-color: #1bc849;
  cursor: pointer;
}
.land-page button a{ 
  text-decoration: none;
  color: #121a1d;
  border-radius: 6px;
  padding: 8px 12px;
  display: inline-block;
  width: 100%;
}
.dish-call > img{
  width: 120px;
  height: 120px;
  z-index: -1;
  border-radius: 50%;
  animation: dish-call 3.5s linear infinite alternate;
 box-shadow: 2px 2px 8px #fff;
}
.about{
  scroll-margin-top: 8rem;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  padding-inline: 12px;
  /* border: 1px solid chartreuse; */
  background: url(../images/green-dots.png);
  background-size: cover;
  background-position: left left;
  background-repeat: repeat;

}

#about-title{
  /* color: var(--HIGHLIGHT-COLOR); */
/*   color: var(--HIGHLIGHT-COLOR); */
  font-size: 22px;
  padding-left: 24px;
  margin-bottom: 12px;
  color: #d10a3c;

  /* estava ontem */
  /*position: relative;
  background: linear-gradient(90deg, #ff0040,#FF6B00,#d10a3c);
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

/* #about-title::before{
  position: absolute;
  content: "";
  left: 24px; 
  bottom: -4px;
  width: 20%;
  height: 3px;
  border-radius: 16px;
  background-color: #d10a3c;
} */
.about > div:nth-child(1){
  align-self: self-start;
  
}
.about > div:nth-child(2){
  align-self: self-end;
}
.lema_container{
  display: flex;
}
.lema_container img{
  width: 100px;
  height: 197px;
}

#lema{
  font-size: 24px;
  font-weight: bolder;
  padding-left: 12px;
  max-width: 120px ;
/*  border: 1px solid red; */
/* color: blanchedalmond; */
color: bisque;
}
.about div{
  border-radius: 12px;
}
.about p{
text-align: left;
}
.notes{
  position: relative;
}
.notes:nth-child(2){
  line-height: 22px;
/*   border: 1px solid #FF7043; */
  max-width: 200px;
  color: bisque;
  font-weight: 90;

}
.chef{
  display: flex;
  align-items: center;
  gap: 10px;
  align-self: start;
 /*  border: 2px solid magenta;  */
}
.chef img{
  margin-top: 8px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
/*   border: 2px solid #f10742; */
  border: 2px solid #1bc849;
  margin-bottom: 12px;
}

#ceo{
  font-size: 18px;
  font-weight: bold;
  background: linear-gradient(90deg, #d10a3c,#FF6B00,#d10a3c);
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#ceo-desc{
  font-size: 12px;
  color:bisque;
}
.notes{
  animation: appear linear 0.2s both;
  animation-timeline: view() ;
  animation-range: entry 30% cover 40% ;
}

/***************SideBar style*********************** ************/
.side-bar{
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 250px;
  background-color: #262626;
  padding-inline: 20px;
  z-index: 1;
  display: none;
  flex-direction: column;
  justify-content:start;
  align-items: start;
  animation:  slide-left 0.5s linear;
 /*  box-shadow: -0.25px 0 6px #FF6B00; */
}
.side-bar li{
  list-style: none;
  /* background-color: blue; */ 
  width: 100%;
  /* padding: 10px; */
  border-bottom: 0.5px dashed #d10a3cae;
  transition:all 0.3s;
}
.side-bar li:hover{
  cursor: pointer;
}
.side-bar li a{
  text-decoration: none;
  color: white;
  padding: 10px;
  display: inline-block;
  width: 100%;
  transition: all 0.3s;
/*   background-color: palevioletred; */
}
.side-bar li a:hover{
  color: var(--HIGHLIGHT-COLOR);
}
#close-menu{
  fill: white;
  background-color:rgb(229, 8, 8);
  border-radius: 4px;
  font-weight: 600;
  font-size: 1.2rem;
  transition:all 0.3s;
  cursor: pointer;
}
#close-menu:hover{
  background-color:red ;
}

/************* Footer ************************/
.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  /* height: 50px; */
  height: 64px;
  padding: 10px 24px;
 /*  margin-top: 12px; */
  border-top: 2px solid #fff1;
 /*  background-color: #181818; */
}
.footer a{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  aspect-ratio: 1;
  color: #7a7a7a;
  background-color: #373737;
  border-radius: 50%;
  text-decoration: none;
  /* transition: color 0.5s ease-in-out; */
}
@property --fill {
  syntax: "<percentage>";
  inherits: true;
  initial-value: 0%;
}
.footer a:hover{
  color: #00e472;
  --fill: 100%;
}
.footer a::after{
  position: absolute;
  z-index: -1;
  content: "";
  inset: -3px;
  border-radius: inherit;
  background: conic-gradient(
    var(--HIGHLIGHT-COLOR) var(--fill),
     transparent var(--fill));
     transition: --fill 0.8s ease-in-out;
}
.footer > p{
margin-right: auto;
font-size: 12px;
color: bisque;
}

/* ********************* Keyframes styles ********** */
/**************************** Mobile ***********/
@media (max-width:480px) {
  .land-page h2{
    display: none;
  }
}
@media (max-width:600px){
  .hideOnMobile{
    display: none;
  }
}
@media (min-width:601px){
  .menu-bar{
    gap:24px;
    font-size:14px ;
  }
  .menu-bar li:last-child{
    display: none;
  }
/*   .menu-bar a{
    font-size: 18px;
  } */

} 

/* Ipads & Tablets */
@media (min-width:481px){
 
  .land-page h1{
    font-size: 30px;
  }
 /*  .notes img{
    margin-top:15px;
  } */
  .land-page h1{
    /* max-width: 300px; */
    font-size: 32px;
    max-width: 350px;
  }
/*   .land-page h2{
    max-width: 183px;
    position: fixed;
    right: 24px;
  } */
   #lema{
    font-size: 30px;
   }
   .about > div:nth-child(2){
    align-self: center;
    font-size:20px ;
    font-weight: 100;
    line-height: 26px;
    max-width: 300px;
  }
 /*  .notes:nth-child(2){
    max-width: 300px;
  } */
  .chef img{
    width: 130px;
    height: 130px;
   /*  border: 2px solid purple; */
  }

} 

@media (min-width:769px){
  .land-page{
    height: 250px;
  }
  .land-page h1{
    max-width: 400px;
    font-size: 36px;
  }
#lema{
  max-width: 190px;
}
  .notes:nth-child(2){
    max-width: 300px;
  }
  .chef img{
    width: 200px;
    height: 200px;
   /*  border: 2px solid blue; */
  }
  #ceo{
    font-size: 22px;
  }
  #ceo-desc{
    font-size: 14px;
  }
  .land-page{
    height: 350px;
  }
} 
@media (min-width:1025px){
  .land-page h1{
    font-size: 42px;
    max-width: 450px;
  }
}
